Source: greed
Section: net
Priority: optional
Maintainer: Owen Dunn <owend@chiark.greenend.org.uk>
Standards-Version: 3.0.1

Package: greed
Architecture: all
Depends: emacsen|xemacs19|xemacs20|xemacs21
Description: RGTP-based GROGGS reader for GNU Emacs and XEmacs
 GREED stands for "Groggs Reader/Editor with Emacs Display"
 and is a client that runs under GNU Emacs and XEmacs and can be used
 for reading, replying to, and editing GROGGS.
